﻿@model FileManager.Presentation.Models.LoginViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Login";
}

<h2>@Localizer["H2"]</h2>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <table class="auth">
        <tr>
            <td height="40"><label asp-for="Login">@Localizer["Login"]</label></td>
            <td height="40">
                <input type="text" asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" />
            </td>
        </tr>
        <tr>
            <td height="40"><label asp-for="Password">@Localizer["Password"] &nbsp;&nbsp;</label></td>
            <td height="40">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" />
            </td>
        </tr>
        <tr>
            <td height="40"><input type="submit" value=@Localizer["Confirm"] class="btn btn-default" /></td>
            <td height="40"><a asp-action="Register" asp-controller="Account">@Localizer["ToRegistration"]</a></td>
        </tr>
        <tr>
            <td height="40" colspan="2" align="center">
                <p class="error"> @ViewData["Error"] </p>
            </td>
        </tr>
    </table>
</form>