﻿@model FileManager.Presentation.Models.RegisterViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Registration";
}

<h2>@Localizer["H2"]</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <table class="auth">
        <tr>
            <td height="40"><label asp-for="FirstName">@Localizer["Name"]</label></td>
            <td height="40">
                <input type="text" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" />
            </td>
        </tr>
        <tr>
            <td height="40"><label asp-for="LastName">@Localizer["Surname"]</label></td>
            <td height="40">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" />
            </td>
        </tr>
        <tr>
            <td height="40"><label asp-for="Login">@Localizer["Login"]</label></td>
            <td height="40">
                <input type="text" asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" />
            </td>
        </tr>
        <tr>
            <td height="40"><label asp-for="Password">@Localizer["Password1"]</label></td>
            <td height="40">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" />
            </td>
        </tr>
        <tr>
            <td height="40"><label asp-for="ConfirmPassword">@Localizer["Password2"]&nbsp;&nbsp;</label></td>
            <td height="40">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" />
            </td>
        </tr>
        <tr>
            <td height="40" align="center">
                <input type="submit" value=@Localizer["Confirm"] class="btn btn-default" />
            </td>
            <td height="40"><a asp-action="Login" asp-controller="Account">@Localizer["ToLogin"]</a></td>
        </tr>
        <tr>
            <td height="40" colspan="2" align="center">
                <p class="error"> @ViewData["Error"] </p>
            </td>
        </tr>
    </table>
</form>