﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Upload";
}

<h2>@Localizer["H2"]</h2>
<center>
    <form method="post" enctype="multipart/form-data">
        <table class="upload" align="left">
            <tr>
                <td>
                    <input type="file" name="file" class="form-control" />
                </td>
                <td align="left">
                    <input type="submit" value=@Localizer["Upload"] class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </form>
</center>

