﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Delete";
}

<center>
    <h2>@Localizer["H2"]</h2>
    <form method="post">
        <input type="submit" value=@Localizer["Delete"] class="btn btn-danger" />
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">@Localizer["Back"]</a>
        <input type="hidden" value=@ViewData["Id"] />
    </form>
</center>
