﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

table {
    border: 2px solid brown;
    width: 80%;
    margin: auto;
}

table tr td {
    padding: 10px;
    text-align: center;
    border: 1px solid brown;
}

table tr td:first-child {
    text-align: left;
}

hr {
    width: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.auth {
    width: 35%;
    border: 0px;
}

.auth tr {
    border: 0px;
    text-align: center;
}

.auth td {
    border: 0px;
    text-align: center;
}

.error {
    color: orangered;
    vertical-align: middle;
    font-size: 18px;
}

.upload {
    width: 40%;
    border: 0px;
}

.upload tr {
    border: 0px;
    text-align: left;
}

.upload td {
    border: 0px;
    text-align: left;
}

.removeLink {
    cursor: pointer;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
