﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "About";
}

<h2>@Localizer["H2"]</h2>

<p>
    @Localizer["University"] <br />
    @Localizer["Faculty"]    <br />
    @Localizer["Specialty"]  <br />
    @Localizer["Author"]     <br />
</p>
