﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Contact";
}

<h2>@Localizer["H2"]</h2>

<address>
    @Localizer["Address"] <br />
    <abbr title="Phone">P:</abbr>
    +375(33)9003301
    @Localizer["Author"]
</address>

<address>
    <strong>@Localizer["Support"]</strong> <a href="mailto:strannik277@gmail.com">strannik277@gmail.com</a><br />
</address>
