﻿@using FileManager.BusinessLogic.Extensions
@using FileManager.Models

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div style="width: 50%; float: left;">
        <h2 align="center">@Localizer["YourFiles"]</h2>
        <table class="table table-condensed table-striped table-bordered" style="width: 90%;">
            @foreach (var file in (IEnumerable<File>)ViewData["OwnedFiles"])
            {
                <file name=@file href=@file.GetHref() downloading=@file.GetDownloadingHref() sharing=@file.GetSharingHref() deleting=@file.GetDeletingHref() />
            }
        </table>
    </div>
    <div style="width: 50%; float: left;">
        <h2 align="center">@Localizer["SharedFiles"]</h2>
        <table class="table table-condensed table-striped table-bordered" style="width: 90%;">
            @foreach (var file in (IEnumerable<File>)ViewData["SharedFiles"])
            {
                <file name=@file downloading=@file.GetDownloadingHref() href=@file.GetHref() />
            }
        </table>
    </div>
</div>