﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "AllUsers";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
    <div class="panel-body" id="inputForm" style="float: left;">
        <input type="text" class="text-primary" id="message" />
        <input type="button" class="btn btn-sm btn-primary" id="sendBtn" value=@Localizer["Send"] />
        <a id="reset" class="btn btn-sm btn-primary">@Localizer["Reload"]</a>
    </div>

    <div id="chat" style="float: right">
        <h4 align="right">@Localizer["Notifications"]</h4>
        <div id="chatroom"></div>
    </div>

    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th>@Localizer["Id"]</th>
                <th>@Localizer["Login"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Surname"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Items inserted by Ajax queries -->
        </tbody>
    </table>

    <script src="~/js/signalr.min.js"></script>
    <script>
        // Создание строки для таблицы из юзера
        function CreateUserRow(user) {
            return "<tr data-rowid='" + user.id +
                "'><td>" + user.id + "</td>" +
                "<td>" + user.login + "</td>" +
                "<td>" + user.firstName + "</td>" +
                "<td>" + user.lastName + "</td>" +
                "<td> <a class='removeLink' data-id='" + user.id + "'>Удалить</a></td></tr>";
        }

        // Получение всех файлов
        function GetUsers() {
            $.ajax({
                url: "/api/admin/users",
                type: "GET",
                contentType: "application/json",
                success: function (users) {
                    var rows = "";
                    $.each(users, function (index, user) {
                        // добавляем полученные элементы в таблицу
                        rows += CreateUserRow(user);
                    });
                    $("table tbody").append(rows);
                }
            });
        }

        // Удаление пользователя
        function DeleteUser(id) {
            $.ajax({
                url: "/api/admin/users/" + id.toString(),
                contentType: "application/json",
                method: "DELETE",
                success: function () {
                    $("tr[data-rowid='" + id + "']").remove();
                }
            });
        }

        // Обновление страницы
        $("#reset").click(function (e) {
            location.reload(true);
        });

        // Удаление
        $("body").on("click", ".removeLink", function () {
            var r = confirm("Are you sure?");
            if (r === true) {
                var id = $(this).data("id");
                DeleteUser(id);
            }
            // Сделать без перезагрузки страницы
        });

        // загрузка
        GetUsers();

        // SignalR
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl('/chat')
            .build();

        hubConnection.on("ReceiveMessage", function (data) {
            let elem = document.createElement("p");
            elem.appendChild(document.createTextNode(data));
            let firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);
        });

        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let message = document.getElementById("message").value;
            document.getElementById("message").value = "";
            hubConnection.invoke("SendMessage", message).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });

        hubConnection.start();
    </script>
</body>
</html>