﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Localizer["Error"]</h1>
<h2 class="text-danger">@Localizer["ErrorExpanded"]</h2>
<h2 class="text-danger">Сведения об ошибке: @ViewData["ErrorMessage"]</h2>